{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" id="boc">
    <h1>Demande creation</h1>
    <p align="right">
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" class="btn btn-success"/>
   

    
            <a href="{{ path('demande_demande_index') }}" class="btn btn-default">Back to the list</a>
    
     {{ form_end(form) }}
    </p>

</div>
{% endblock %}
