

{% extends "::base.html.twig" %}

{% block title %}EPIUserBundle:Commentaire:afficherCommentaire{% endblock %}

{% block body %}
<h1>Welcome to the Commentaires:afficherCommentaire page</h1>
{% endblock %}

