{% extends 'base.html.twig' %}

{% block body %}
   
      
       <h1>Sous_categorie creation</h1>

       {{ form_start(form) }}
       
        {{ form_widget(form) }}
       
       <input type="submit" value="Create" />
       {{ form_end(form) }}

      <ul>
        <li>
           <h2> <a href="{{ path('sous_categorie_sous_categorie_index') }}">Back to the list</a></h2>
        </li>
      </ul>
     
     
{% endblock %}
